Ignore compiled Java files

*.class

Ignore IDE-specific files

.project
.classpath
.settings/
.bluej/
*.ctxt

Ignore local database files (Scripts are used instead)

*.db
*.sqlite

Ignore OS-specific files

.DS_Store
Thumbs.db
